footer {
    padding: 12px;
    background-color: darkgrey;
}

// this should affect all elements within the webpage
// but Angular encapsulates styles inside a component
// Yippi!
* {
    text-align: center;
}