<section *ngIf="product">
  <h1>{{product.name}}</h1>
  <img [src]="product.imageUrl">
  <p>{{product.description}}</p>
  <p><strong>Price: </strong> {{product.price | goldCoins}}</p>
  <section>
    <h2>Specifications</h2>
    <ul>
      <li *ngFor="let spec of product.specs">{{spec.name}}: {{spec.value}}</li>
    </ul>
  </section>
  <section>
   <h2>Review</h2>
  <section>
    <button *ngIf="!addingAReview" (click)="addReview()">add Review</button>
    <shop-add-review-form *ngIf="addingAReview"
                          (onNewReview)="addReviewToProduct($event)"
    ></shop-add-review-form>
  </section>
   <div *ngFor="let review of product.reviews">
     <shop-review [review]="review"
     [class.featured]="review.rating === 5"></shop-review>
   </div>
  </section>
  <button (click)="goBack()">Back</button>
</section>